.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f5f5f5;
}

.forgot-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.forgot-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.forgot-box button {
  padding: 10px 20px;
  cursor: pointer;
}

.mensagem {
  margin-top: 15px;
  color: green;
}
